.bg-chart{
    background-color: #A8D0DA;
    background-image: linear-gradient(0deg, #A8D0DA 0%, #ffc8a8 100%);
    border-radius:2.5%;
    -webkit-box-shadow: 7px 3px 5px 0px rgba(240,240,240,0.23);
    -moz-box-shadow: 7px 3px 5px 0px rgba(240,240,240,0.23);
    box-shadow: 7px 3px 5px 0px rgba(240,240,240,0.23);
    color:white;
    width:100%;
  }