 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
.block {
    display: block;
}
.none {
    display: none;
}

.loader{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: 9999;
}