 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
.block {
    display: block;
}
.none {
    display: none;
}

.loader {
  width: 20vw;
  height: 50vh;
  position: relative;
  left:30%;
  top:150%;
  z-index: 9999;
}