
.center-card{
margin-top:2em;
}
.center-card .card{
margin-left:2em;
max-width:18rem !important;
}
.bg-balance{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.bg-entry{
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);  
}
.bg-egress{
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}
@media screen and (min-width: 374px) and (max-width:700px) {
  .center-card .card{
    max-width:15rem !important;
    margin-left:1em;
  }
    
  }