.center-button{
    margin-left:50%;
}
.center-button button{
    margin:1em;
    }
.table{
background-color:white;
border-radius:10px;

}
.table tr th{
font-size:1.1em;
}

@media screen and (min-width: 374px) and (max-width:700px) {
.table{
width: 20% !important;;
}
.table tr th{
    font-size:1em;
    }
    .center-button{
        margin-left:25%;
        margin-right:25%;
    }
    .center-button button{
    margin:1em;
    }
}

