.img {
  width: 60px;
  height: 60px;
}

.dashboard {
  width: 15vw; 
  position: fixed;
  top: 0;
  z-index: 9999;
  background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-egress {
    background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    display: block;
  }

  .btn-egress:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 


ul li {
  margin-top: 4em;
}


@media screen and (min-width: 359px) and (max-width:700px) {
  .dashboard {
    display: none !important;

  }


}