.img {
  width: 60px;
  height: 60px;
}

.dashboard {
  width: 15vw; 
  position: fixed;
  top: 0;
  z-index: 9999;
 background-color: #371B58;
 -webkit-box-shadow: 7px 3px 5px 0px rgba(240,240,240,0.09);
 -moz-box-shadow: 7px 3px 5px 0px rgba(240,240,240,0.09);
 box-shadow: 7px 3px 5px 0px rgba(240,240,240,0.09);
}

.btn-egress {
    background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    display: block;
  }

  .btn-egress:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 


ul li {
  margin-top: 4em;
}

nav:hover a {
opacity:.9;
}

@media screen and (min-width: 359px) and (max-width:700px) {
  .dashboard {
    display: none !important;

  }


}